<!-- this is for a feed from a list, may be outdated
  <div class="container">
      <div class="col">
          <% if (posts.length) { %>
            <ul>
              <% posts.forEach((post) => { %>
              <div class="col" style="border: solid 1px #6c757d;padding: 10px;">
                  <img src="https://image.shutterstock.com/image-photo/silhouette-woman-portrait-concept-unknown-260nw-358185458.jpg" width="80" height="60" \>
                  <%= username %>
                  <br \>
                  <p>
                  <%= post %>
                  </p>
            </div>
            <% }) %>
            </ul>
          <% } %>
      </div>
  </div>
-->