<html>
    <head>
        <title>Sushi|Signup</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body class="container">
        <div style="margin-top:100px;text-align: center">
            <h1>Sushi Signup</h1>
        </div>

        <div class="container row">
            <div class="jumbotron col-sm-6 pull-center" style="text-align: center;margin-left:26.5%">
                <form action="/signup" method="POST">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password"/>
                    </div>
                    <div style="margin-top:10px">
                        <input class="btn btn-primary" type="submit" value="Sign Up"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>